:root {
  --juce-orange: #f85a00;
  --nightmare: #132530;
  --nightmare-light: #1f3340;
  --smoke-gray: #b8bec1;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "VT323", monospace;
  margin: 0;
  font-family: "Ubuntu", sans-serif, Arial, sans-serif;
  background-color: var(--white);
}

button {
  margin: 0;
  padding: 0;
  width: auto;
  font: inherit;
  overflow: visible;
  outline: none;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 768px;
  padding: 0 94px;
  margin: 0 auto;
}

/*TODO ---- SCORE ---- */

.score-section {
  margin-top: 92px;
}

.score-title {
  color: #000;
  font-family: VT323;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  line-height: 0.78;
}

/*TODO ---- SCORE ---- */

/** ---- COIN ---- */

.clicker-section {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.coin-btn {
  touch-action: manipulation;
}

/** ---- COIN ---- */
